* {
  /* border will get complete content area, if border is given then also content space is not compromized */
  box-sizing: border-box;
  /* to remove by default margin */
  margin: 0;
  padding: 0;
}

.toolbox-cont {
  /* by default width takes full length */
  height: 5rem;
  background-color: #4b4b4b;
  display: flex;
  align-items: center;
}

/* all children of toolbox-cont */
.toolbox-cont > * {
  margin-left: 4rem;
}

.toolbox-priority-cont {
  height: 3.5rem;
  width: 18rem;
  background-color:#3d3d3d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.action-btn-cont{
    height: 3.5rem;
    width: 8rem;
    background-color: #3d3d3d;
    display: flex;
}
.action-btn-cont>*{
    display: flex;
    justify-content: center;
    /* each will take 50% width */
    width: 50%;
    font-size: 2rem;
    align-items: center;
    color: white;
}
.color {
  height: 1.5rem;
  width: 3rem;
}

.light_pink {
  background-color: lightpink;
}

.light_green {
  background-color: lightgreen;
}

.light_blue {
  background-color: lightblue;
}

.black {
  background-color: black;
}
