* {
  /* border will get complete content area, if border is given then also content space is not compromized */
  box-sizing: border-box;
  /* to remove by default margin */
  margin: 0;
  padding: 0;
}

.toolbox-cont {
  /* by default width takes full length */
  height: 5rem;
  background-color: #4b4b4b;
  display: flex;
  align-items: center;
}

/* all children of toolbox-cont */
.toolbox-cont > * {
  margin-left: 4rem;
}

.toolbox-priority-cont {
  height: 3.5rem;
  width: 18rem;
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.action-btn-cont {
  height: 3.5rem;
  width: 8rem;
  background-color: #3d3d3d;
  display: flex;
}
.action-btn-cont > * {
  display: flex;
  justify-content: center;
  /* each will take 50% width */
  width: 50%;
  font-size: 2rem;
  align-items: center;
  color: white;
}
.color {
  height: 1.5rem;
  width: 3rem;
}

.light_pink {
  background-color: lightpink;
}

.light_green {
  background-color: lightgreen;
}

.light_blue {
  background-color: lightblue;
}

.black {
  background-color: black;
}

.modal-cont {
  /* Half of screen */
  height: 50vh;
  width: 50vw;
  background-color: lightblue;
  display: none;
  /* How to make div in center of screen */
  /* comes out of screen now u r the controller of this div, you have option to set it anywhere */
  position: absolute;
  /* Method 1 to align center using calculation */
  top: 30%;
  left: 25%;
  /* Method 2 using calc method*/
}

.textArea-cont {
  /* height & width from modal-cont */
  height: 100%;
  width: 75%;
  background-color: #dfe4ea;
  /* Remove outline from textarea */
  outline: none;
  /* Remove border */
  border: none;
  /* Remove expandable textarea */
  resize: none;
  font-size: 2rem;
  padding: 2rem;
}

.priority-colors-cont {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #4b4b4b;
}

.priority-color {
  height: 3rem;
  width: 5rem;
}

.main-cont {
  display: flex;
  /* to give space between 2 elements */
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  /* doesn't compromise for space */
  flex-wrap: wrap;
}

.ticket-cont {
  height: 12rem;
  width: 15rem;
  background-color: coral;
}

.ticket-color {
  height: 1rem;
  background-color: black;
}

.ticket-id {
  background-color: yellow;
  height: 2rem;
}
.ticket-lock {
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-end;
  margin-top: 90px;
  margin-right: 5px;
}

.add-btn:hover {
  background-color: #4bb543;
}
.remove-btn:hover {
  background-color: #f70b1a;
}

.toolbox-priority-cont > *:hover {
  background-color: #485460;
}
